<!doctype html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>
      Terms of Use - For Dummies
    </title>

  </head>
  <body>

    <h1>Terms of Use</h1>

    <p>By using this website, you signify your agreement to all terms, conditions, and notices contained or referenced herein (the "Terms of Use"). If you do not agree to these Terms of Use, please do not use this site.&nbsp; We reserve the right, at our discretion, to update or revise these Terms of Use. Please check the Terms periodically for changes. Your continued use of this website following the posting of any changes to the Terms of Use constitutes acceptance of those changes.</p>

    <p>
      <strong>BLOGS AND USER COMMENT AREAS</strong>
    </p>

    <p>In order to post content on this website, users are required to provide a username and e-mail address. Neither the administrators of or the moderators of the website or the blogs, are responsible for the privacy practices of any user. Remember that all information that is disclosed in these areas becomes public information and you should exercise caution when deciding to share any of your personal information.</p>

    <p>
      <strong>AGREEMENT TO RULES OF USER CONDUCT</strong>
    </p>

    <p>You agree to abide by the following Rules of User Conduct:</p>

    <p>By posting information in or otherwise using any blog, comment area, or other interactive service, that may be available to you on or through this website, you agree that you will not upload, post, or otherwise distribute or facilitate distribution of any content that:</p>

    <ol>
      <li>is unlawful, threatening, abusive, harassing, defamatory, deceptive, fraudulent, invasive of another's privacy, discriminatory, sexually oriented or tortious;</li>
      <li>infringes on any patent, trademark, trade secret, copyright, right of publicity, or other proprietary right of any party;</li>
      <li>constitutes unauthorized or unsolicited advertising, junk or bulk e-mail, or any form of lottery or gambling;</li>
      <li>constitutes the selling or trading of any merchandise;</li>
      <li>constitutes the soliciting for advertisers/sponsors; conducting contests/raffles; displaying advertising/sponsorship art; promoting, soliciting or participating in chain letters or marketing/pyramid schemes;</li>
      <li>contains software viruses or any other computer code, files, or programs that are designed or intended to disrupt, damage, or limit the functioning of any software, hardware, or telecommunications equipment or to damage or obtain unauthorized access to any data or other information of any third party;</li>
      <li>contains links to sites that violate these Terms of Use, such as pornographic sites, defamatory sites, and so on; or</li>
      <li>impersonates any person or entity.</li>
    </ol>
    <p>You also agree that you will not harvest or collect information about users or members of this website or use such information for the purpose of transmitting or facilitating transmission of unsolicited bulk electronic e-mail or communications.</p>
    <p>We generally do not pre-screen, monitor, or edit the content posted by users of the blogs comment areas or other interactive services that may be available on or through this website. However, we have the right at our sole discretion to remove any content that, in our judgment, does not comply with the foregoing or is otherwise harmful, objectionable, or inaccurate. We are not responsible for any failure or delay in removing such content.</p>
    <p>
      <strong>USER'S GRANT OF LIMITED LICENSE</strong>
    </p>
    <p>By posting or submitting content to this website, you:</p>
    <ol>
      <li>grant us and our affiliates and licensees the right to use, reproduce, display, perform, adapt, modify, distribute, have distributed, and promote the content in any form, anywhere and for any purpose without compensation; and</li>
      <li>warrant and represent that you own or otherwise control all of the rights to the content and that public posting and use of your content by us and our affiliates and licensees will not infringe or violate the rights of any third party.</li>
    </ol>
    <p>
      <strong>PROPRIETARY RIGHTS</strong>
    </p>
    <p>
      <strong>Trademark Guidelines</strong>
    </p>
    <p>You may use Wiley's For Dummies trademarks (the "Trademarks") to reference For Dummies products and services, so long as the Trademarks are used properly. Use of the Trademarks not in accordance with these guidelines or of marks that are confusingly similar to the Trademarks may constitute an infringement of Wiley's rights.&nbsp; Although specific permission is not required for referential use, Wiley does request that you use the Trademarks correctly and refer to them properly. Proper reference includes marking them with the appropriate trademark symbol (&reg; or
      <sup>TM</sup>).&nbsp; You should refer to the full trademark(s) completely at the first and most prominent reference.&nbsp;</p>

    <p>The appropriate trademark symbol must be used when making reference to any Trademark.&nbsp; Following is a listing of the Trademarks and its appropriate trademark symbol:</p>

    <blockquote>A Reference for the Rest of Us!&reg;<br/>
      A Quick Reference for the Rest of Us!&reg;<br/>
      Dummies Man logo (right and left pointing)&reg;<br/>
      Dummies.com&reg;<br/>
      For Dummies&reg;<br/>
      For Dummies logo (hand holding sign)
      <sup>TM</sup><br/>
      F&uuml;r Dummies&reg;<br/>
      Just the Steps
      <sup>TM</sup><br/>
      Making Everything Easier!
      <sup>TM</sup><br/>
      Para Dummies&reg;<br/>
      Pour les Nuls&reg;<br/>
      Software for the Rest of Us!&reg;<br/>
      The Dummies Way&reg;</blockquote>

    <p>All digital and print materials in which Trademarks are referenced must include the following attribution statement:</p>

    <p>(Trademark) is a trademark or registered trademark of John Wiley &amp; Sons, Inc.</p>

    <p>You may NOT:</p>
    <ol>
      <li>incorporate or use the Trademarks into or as part of your product or company marks or names;</li>
      <li>use the Trademarks in a manner likely to cause confusion as to the source of goods or services or which may indicate sponsorship, affiliation or an endorsement;</li>
      <li>incorporate the Trademarks or any derivation thereof in an internet domain name;</li>
      <li>use the Trademarks to identify products or services that do not belong to Wiley; or</li>
      <li>use the For Dummies logos, logotypes or designs without prior written permission from Wiley.</li>
    </ol>

    <p>Trademarks are adjectives that describe a specific person, place or thing. Because a trademark is an adjective, it is used with the noun that it modifies.</p>

    <p>Never use trademarks in the possessive or plural form.</p>

    <blockquote>Incorrect: For Dummies' easy-to-understand style<br/>
      Correct: the easy-to-understand style of the For Dummies&reg; book series</blockquote>

    <p>
      <strong>Copyright</strong>
    </p>

    <p>This Web site and any Wiley publications and material which may be accessed from it are protected by copyright. Nothing on this Web site or in the Wiley publications and material may be downloaded, reproduced, stored in a retrieval system, modified, made available on a network, used to create derivative works, or transmitted in any form or by any means, electronic, mechanical, photocopying, recording, scanning, or otherwise, except (i) in the United States, as permitted under Section 107 or 108 of the 1976 United States Copyright Act, or internationally, as permitted by other applicable national copyright laws, or (ii) as expressly authorized on this Web site, or (iii) that a reasonable amount of material may be cached and stored by search engines indexing this Web site, or (iv) with the prior written permission of Wiley. Requests to the Publisher for permission should be addressed to the
      <a href="http://www.wiley.com/WileyCDA/Section/id-403426.html">Rights &amp; Permissions Department</a>, John Wiley &amp; Sons, Inc., 111 River Street, MS 4-02, Hoboken, New Jersey, 07030-5774, USA or email
      <a href="mailto:PermissionsUS@wiley.com">PermissionsUS@wiley.com</a>. The licenses set forth in (ii) and (iii) above may be revoked by Wiley on notice.
      <br/>
      <br/>
      <strong>PROCEDURE FOR MAKING CLAIMS OF COPYRIGHT INFRINGEMENT</strong>
    </p>
    <p>If you believe that your work has been copied and is accessible on this site in a way that constitutes copyright infringement, you may notify SVP &amp; General Counsel, John Wiley &amp; Sons, Inc., 111 River Street, Hoboken, NJ&nbsp; 07030, by providing the following information:</p>
    <ol>
      <li>the signature of the owner of the copyright or the person authorized to act on the owner's behalf.</li>
      <li>a description of the copyrighted work that you claim has been infringed and a description of the infringing activity.</li>
      <li>identification of the specific location on this website where the material that you claim is infringing is located.</li>
      <li>your name, address, telephone number, and email address.</li>
      <li>a statement by you that you have a good faith belief that the disputed use is not authorized by the copyright owner, its agent, or the law.</li>
      <li>a statement by you, made under penalty of perjury, that the above information in your notice is accurate and that you are the copyright owner or are authorized to act on the copyright owner's behalf.</li>
    </ol>

    <p>
      <strong>DISCLAIMER OF WARRANTIES
      </strong>
    </p>
    <p>The statements and opinions in the material contained on this website and any Wiley publications and material which may be accessed from this website are those of the individual contributors or advertisers, as indicated. Wiley has used reasonable care and skill in compiling the content of this website. However, Wiley, its employees, and content providers make no warranty as to the accuracy or completeness of any information on this website and accept no responsibility or liability for any inaccuracy or errors and omissions, or for any damage or injury to persons or property arising out of the accessing or use of any files, software and other materials, instructions, methods or ideas contained on this website or in the Wiley publications and material accessed from it.</p>
    <p>Any third party website which may be accessed through this website or third party products discussed on this website are the sole responsibility of the third party posting the website or producing the product. Wiley makes no warranty, express or implied, as to such third party websites or products and accepts no liability whatsoever for any errors and omissions or for any damage or injury to persons or property arising out of the use or operation of any such products or any materials, instructions, methods or ideas contained on such websites.</p>
    <p>ALL DOWNLOADABLE SOFTWARE AND FILES ARE DISTRIBUTED ON AN "AS IS" BASIS WITHOUT WARRANTIES OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING, WITHOUT LIMITATIONS, WARRANTIES OF TITLE OR IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE, AND DOWNLOADING AND/OR USING THE SOFTWARE AND FILES IS AT THE USER'S SOLE RISK.</p>
    <p>
      <strong>LIMITATION OF LIABILITY</strong>
    </p>
    <p>UNDER NO CIRCUMSTANCES SHALL JOHN WILEY AND SONS, INC., ITS SUBSIDIARIES, OR ITS LICENSORS BE LIABLE FOR ANY DIRECT, INDIRECT, PUNITIVE, INCIDENTAL, SPECIAL, OR CONSEQUENTIAL DAMAGES THAT RESULT FROM THE USE OF, OR INABILITY TO USE, THIS WEBSITE. THIS LIMITATION APPLIES WHETHER THE ALLEGED LIABILITY IS BASED ON CONTRACT, TORT, NEGLIGENCE, STRICT LIABILITY, OR ANY OTHER BASIS, EVEN IF WE HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGE. BECAUSE SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR LIMITATION OF INCIDENTAL OR CONSEQUENTIAL DAMAGES, OUR LIABILITY IN SUCH JURISDICTIONS SHALL BE LIMITED TO THE EXTENT PERMITTED BY LAW.</p>
    <p>
      <strong>INDEMNIFICATION</strong>
    </p>
    <p>Upon a request by us, you agree to defend, indemnify, and hold harmless John Wiley and Sons, Inc. and its subsidiary and other affiliated companies, and their employees, contractors, officers, and directors from all liabilities, claims, and expenses, including attorney's fees, that arise from your use or misuse of this website.</p>

    <p>
      <strong>INTERNATIONAL USE</strong>
    </p>
    <p>We make no representation that materials on this website are appropriate or available for use in locations outside the United States, and accessing them from territories where their contents are illegal is prohibited. Those who choose to access this site from other locations do so on their own initiative and are responsible for compliance with local laws.</p>
    <p>
      <strong>CHOICE OF LAW AND FORUM</strong>
    </p>
    <p>These Terms of Use shall be governed by and construed in accordance with the laws of the State of New York, without regard to such State's conflict of law rules. You expressly agree that the exclusive jurisdiction for any claim or action arising out of or relating to these Terms of Use or your use of this website shall be filed only in the state or federal courts located in the State of New York, and you further agree and submit to the exercise of personal jurisdiction of such courts for the purpose of litigating any such claim or action.</p>
    <p>
      <strong>TERMINATION</strong>
    </p>
    <p>We reserve the right, in our sole discretion, to terminate your access to all or part of this website, with or without notice.</p>
    <p>Dummies.com is owned and operated by John Wiley &amp; Sons, Inc. Copyright &copy; 2013 John Wiley &amp; Sons, Inc. All rights reserved.</p>
    <p>If you have any questions about this statement or the use of these forums, you can find additional information and contact the forum administrator at
      <a href="mailto:dummieswebsite@wiley.com">dummieswebsite@wiley.com</a>.</p>

  </body>
</html>
